UA-DETRAC-Processed/
DETRAC-Images/
DETRAC-Train-Annotations-XML/
DETRAC-Test-Annotations-XML/
DETRAC-MOT-toolkit
runs/
yolo*
*.pdf
Vietnamese-Traffic/
detect_yolov8n/
detect_yolov8s/
__pycache__/
Example_output/
Test-Video/
Papers/
